*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #042e54;
  font-size: 14px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
.w_1200{
  max-width: 1248px;
  height: 100%;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.w_1200 .main_header {
  width: 100%;
  margin-bottom: 32px;
  
}
.w_1200 .main_header p {
  font-size: 62px;
  font-family: 'Nanum Pen Script', cursive;
}

.wrap{
  min-width: 1440px;
}